---
const res = await fetch(
  "http://localhost:5000/api/hero/6657094aa55b47d96ec77a71?locale=undefined&draft=false&depth=1"
);
const globalData = await res.json();
---

<div class="bg-primary hero-header">
  <div class="container px-lg-5">
    <div class="row g-5 align-items-end">
      <div class="col-lg-6 text-center text-lg-start">
        <h1 class="text-white mb-4 animated slideInDown" set:html={globalData?.title} />
          
        <p class="text-white pb-3 animated slideInDown" set:html={globalData?.description} />
        <a
          href={globalData?.primaryButton?.link}
          class="btn btn-secondary py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft"
          set:html={globalData.primaryButton.text}
        />
        <a
          href={globalData?.secondaryButton?.link}
          class="btn btn-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
          set:html={globalData.secondaryButton.text}
        />
      </div>
      <div class="col-lg-6 text-center text-lg-start">
        <img
          class="img-fluid animated zoomIn"
          src={globalData?.image?.url}
          alt=""
        />
      </div>
    </div>
  </div>
</div>
